---
layout: default
title: My Data Science Blog
---

<section class="bg-slate-900 p-6 sm:p-8 rounded-xl shadow-lg border border-slate-700">
    <h1 class="text-4xl sm:text-5xl font-extrabold text-blue-900 mb-6 text-center dark:text-teal-400">
        From Oceans to Algorithms: My Data Science Blog
    </h1>

    <div id="blog-posts-container" class="grid grid-cols-1 gap-8">
        {% if site.posts.size > 0 %}
            {% for post in site.posts reversed %}
                <article class="bg-slate-800 p-6 rounded-xl shadow-lg border border-slate-700">
                    <h2 class="text-3xl font-bold text-blue-200">
                        <a href="{{ post.url | relative_url }}" class="hover:underline text-teal-400">
                            {{ post.title }}
                        </a>
                    </h2>
                    <p class="text-sm text-gray-400 mb-4">
                        Published: {{ post.date | date: "%B %d, %Y" }}
                        {% if post.author %}
                        by {{ post.author }}
                        {% endif %}
                    <br>
                        {% if post.categories %}
                            {% for category in post.categories %}
                                <span class="inline-block bg-slate-700 text-gray-300 rounded-full px-3 py-1 text-xs font-semibold mr-2 mt-2">
                                    {{ category }}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </p>
                    <div class="blog-content prose max-w-none">
                        {{ post.excerpt | default: post.content | markdownify | strip_html | truncatewords: 50 }}
                        <a href="{{ post.url | relative_url }}" class="hover:underline inline-block mt-2 text-teal-400">Read more &rarr;</a>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <div class="bg-blue-50 p-6 rounded-lg shadow-md text-center border border-blue-100 border-slate-600">
                <h2 class="text-2xl font-bold mb-2 text-blue-200">No Blog Posts Yet</h2>
                <p class="text-gray-400">It seems the ocean of data is still waiting for its first entries. Start by adding markdown files to your `_posts` directory!</p>
            </div>
        {% endif %}
    </div>
</section>