<header class="bg-white shadow-md p-4 sticky top-0 z-50">
    <nav class="container mx-auto flex flex-col sm:flex-row justify-between items-center px-4">
        <div class="text-2xl font-bold text-blue-900 mb-4 sm:mb-0">
            {{ site.title }}
        </div>
        <div class="flex flex-wrap justify-center sm:justify-end space-x-2 sm:space-x-4">
            <a href="{{ site.baseurl }}/" class="px-4 py-2 rounded-lg bg-sky-100 text-blue-700 hover:bg-sky-200 transition duration-300 shadow-md">
                About
            </a>
            <a href="{{ site.baseurl }}/assets/pdf_files/SadowskiResume.pdf" target="_blank" class="px-4 py-2 rounded-lg bg-teal-600 text-white hover:bg-teal-700 transition duration-300 shadow-md">
                Resume
            </a>
            <a href="{{ site.baseurl }}/blog.html" class="px-4 py-2 rounded-lg bg-sky-100 text-blue-700 hover:bg-sky-200 transition duration-300 shadow-md">
                Blog
            </a>
            <a href="{{ site.baseurl }}/publications.html" class="px-4 py-2 rounded-lg bg-sky-100 text-blue-700 hover:bg-sky-200 transition duration-300 shadow-md">
                Publications
            </a>

            <!-- Dark Mode Toggle Button -->
            <button id="theme-toggle" class="p-2 rounded-lg bg-sky-100 text-blue-700 hover:bg-sky-200 transition duration-300 shadow-md ml-4 dark:bg-slate-700 dark:text-sky-200 dark:hover:bg-slate-600">
                <svg id="sun-icon" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.459 4.582a1 1 0 00-1.079-1.079l-1.392 1.392a.999.999 0 001.414 1.414l1.392-1.392zM16 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM6 10a1 1 0 01-1 1H4a1 1 0 110-2h1a1 1 0 011 1zM2.003 5.884a.997.997 0 00.102-1.066l1.392-1.392a.999.999 0 10-1.414-1.414L2.003 4.47a.999.999 0 000 1.414zM17.707 4.293a.999.999 0 10-1.414 1.414l1.392 1.392c.389.39.475.986.223 1.488A.997.997 0 0017 9.884V10a.999.999 0 00-.707.293L13.293 14a.999.999 0 001.414 1.414l1.392-1.392a.999.999 0 00-.223-1.488A.997.997 0 0017 8.116V8a.999.999 0 00.707-.293zM10 18a1 1 0 01-1 1v1a1 1 0 112 0v-1a1 1 0 01-1-1z"/>
                </svg>
            </button>
        </div>
    </nav>
</header>
